/*
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)

Modified for UWebCal by André Mekkawi <uwebcal@andremekkawi.com>
*/

#UWebCal, #UWebCal div, #UWebCal span, #UWebCal applet, #UWebCal object, #UWebCal iframe,
#UWebCal h1, #UWebCal h2, #UWebCal h3, #UWebCal h4, #UWebCal h5, #UWebCal h6, #UWebCal p, #UWebCal blockquote, #UWebCal pre,
#UWebCal a, #UWebCal abbr, #UWebCal acronym, #UWebCal address, #UWebCal big, #UWebCal cite, #UWebCal code,
#UWebCal del, #UWebCal dfn, #UWebCal em, #UWebCal img, #UWebCal ins, #UWebCal kbd, #UWebCal q, #UWebCal s, #UWebCal samp,
#UWebCal small, #UWebCal strike, #UWebCal strong, #UWebCal sub, #UWebCal sup, #UWebCal tt, #UWebCal var,
#UWebCal b, #UWebCal u, #UWebCal i, #UWebCal center,
#UWebCal dl, #UWebCal dt, #UWebCal dd, #UWebCal ol, #UWebCal ul, #UWebCal li,
#UWebCal fieldset, #UWebCal form, #UWebCal label, #UWebCal legend,
#UWebCal table, #UWebCal caption, #UWebCal tbody, #UWebCal tfoot, #UWebCal thead, #UWebCal tr, #UWebCal th, #UWebCal td,
#UWebCal article, #UWebCal aside, #UWebCal canvas, #UWebCal details, #UWebCal embed, 
#UWebCal figure, #UWebCal figcaption, #UWebCal footer, #UWebCal header, #UWebCal hgroup, 
#UWebCal menu, #UWebCal nav, #UWebCal output, #UWebCal ruby, #UWebCal section, #UWebCal summary,
#UWebCal time, #UWebCal mark, #UWebCal audio, #UWebCal video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#UWebCal article, #UWebCal aside, #UWebCal details, #UWebCal figcaption, #UWebCal figure, 
#UWebCal footer, #UWebCal header, #UWebCal hgroup, #UWebCal menu, #UWebCal nav, #UWebCal section {
	display: block;
}
#UWebCal {
	line-height: 1;
}
#UWebCal ol, #UWebCal ul {
	list-style: none;
}
#UWebCal blockquote, #UWebCal q {
	quotes: none;
}
#UWebCal blockquote:before, #UWebCal blockquote:after,
#UWebCal q:before, #UWebCal q:after {
	content: '';
	content: none;
}
#UWebCal table {
	border-collapse: collapse;
	border-spacing: 0;
}